/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0 auto;
    
}
body{
    display: flex;
    justify-content: center;
}
span{
    display: none;
}
p{
    color: #fff;
}
/* INICIO DA CAIXA PRINCIPAL DE CONTEUDO */
.box {
    border: none;
    position: absolute;
    background-color: cadetblue;
    height: 100%; box-shadow: 12px 0 15px -4px #070707cc, -12px 0 8px -4px #070707cc;
    width: 70%;
    }
    li, a, button{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 10%;
        background-color: rgb(3, 7, 29);
    }
.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
  
}
.nav_links li a{
    transition:  all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
    background-color: rgba(0, 136, 169, 1);
    padding:2px;
    color: #000000;
    border-radius: 50px;
}
button{
    padding: 9px 25px;
    background-color: rgb(0, 130, 169);
    border: none;
    border-radius: 50px ;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    transition: 300ms;
}
.name{
    background-color: #000022;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    height: 55px;
    background-repeat: repeat;
}
.name h1{
    font-size: 50px;
    color: #fff;
    word-spacing: 0px;
    font-family: 'Rampart One', cursive;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    
}
.name h3{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.name {
  
    height: 7vw;
    text-align: center;
}
.resume {
    background-image: url(image/description.png);
    height:15%;
    display: flex;
    align-items: center;
}
.info {
    display: flex;
    background-color: #0E0573;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23160d19' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2318101b' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23160d19' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2318101b' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%231A131D' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%230000a6' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%230006b0' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%231912BA' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%230006b0' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%230000a6' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%231912BA' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%230000a6' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%231912BA' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%230006b0' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%231912BA' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    height: 50%;
    align-items: center;
    justify-content: space-between;
}
.info-text{
    background-color: black;
    width: 55%;
    height: 90%;
}
.info-text img{
   width: 100%;
   height: 100%; box-shadow: 12px 0 15px -4px #000000cc, -12px 0 8px -4px #000000cc;
}

div .photo{
    margin-right: 3%;
    
}
.photo{
background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.photo img{
    height: 100%;
    border-radius: 50%;
   
}
.icons {
    display: flex;
    align-content: center;
}
.footer{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.footer p{
    color: #fff;
}
.resume{
    background-color: rgb(247, 247, 247);
}
.resume p{
    padding-left: 5%;
    padding-right: 5%;
    color: rgb(80, 80, 80);
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-weight: 700;
}

.icons {margin-top: 0;
display: flex;
background-color: rgb(43, 43, 43);
height: 200px;
}
.icons img{
    margin-top: 5%;
    position: relative;
    height: 80%;
    filter: invert(1);
}
figcaption {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.paragraph{
    background-color: #0E0573;
    border: none;
    padding: 25px;
    padding-top: 7px;
    background-image: url(image/description.png);
    
}
.paragraph p{
 
    color: #000;
    font-family: 'Merriweather', serif;

}
.aboutme{
font-size: 40px;
font-family: 'Libre Baskerville', serif;
font-weight: 900;
margin-bottom: 7px;
}

























/* HOVER STYLE INICIO */
.header ul li:hover{
    transition: 400ms;
    background-color: #ffffff;
    border-top-right-radius: 5%;
    border-top-left-radius:5% ;
}
.header ul li a:hover{
    color: #000;
}

/* HOVER STYLE FIM */