*{
    margin: 0 auto;
    
}
body{
    display: flex;
    justify-content: center;
}
span{
    display: none;
}
.box {
    border: none;
    position: absolute;
    background-color: cadetblue;
    height: 100%; box-shadow: 12px 0 15px -4px #070707cc, -12px 0 8px -4px #070707cc;
    width: 70%;
    }

.header{
    display: flex;
    position: relative;
    height: 3%;
    background-color: black;
    width: 100%;
    
    
}
.header p {
    color: #fff;
    align-self: flex-end;
    margin-left:5px ;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
}
.header ul{
    align-self: flex-end;
    
    
}
.header ul li {
    display: inline-block;
    background-color: #565656;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

}
.header ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.name{
    background-image: url(image/10-14-Night.jpg);
    height: 55px;
    background-repeat: repeat;
}
.name h1{
    color: #fff;
    word-spacing: 0px;
    font-family: 'Rampart One', cursive;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
.name h3{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.name {
  
    height: 5vw;
    text-align: center;
}
.resume {
    background-color: darkgrey;
    height:15%;
    display: flex;
    align-items: center;
}
.info {
    display: flex;
    background: rgb(11,20,108);
background: linear-gradient(90deg, rgba(11,20,108,1) 0%, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 0%, rgba(5,36,91,1) 61%, rgba(4,21,68,1) 91%, rgba(8,75,150,1) 100%);
    height: 50%;
    align-items: center;
    justify-content: space-between;
}
.info-text{
    background-color: black;
    width: 55%;
    height: 90%;
}
.info-text img{
   width: 100%;
   height: 100%; box-shadow: 12px 0 15px -4px #303030cc, -12px 0 8px -4px #303030cc;
}







div .photo{
    margin-right: 3%;
    
}
.photo{
background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.photo img{
    height: 100%;
    border-radius: 50%;
   
}
.icons {
    display: flex;
    align-content: center;
}
.footer{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.footer p{
    color: #fff;
}
.resume{
    background-color: rgb(247, 247, 247);
}
.resume p{
    padding-left: 5%;
    padding-right: 5%;
    color: rgb(80, 80, 80);
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-weight: 700;
}

.icons {margin-top: 0;
display: flex;
background-color: rgb(43, 43, 43);
height: 200px;
}
.icons img{
    margin-top: 5%;
    position: relative;
    height: 80%;
    filter: invert(1);
}



/* HOVER STYLE INICIO */
.header ul li:hover{
    transition: 400ms;
    background-color: #ffffff;
    border-top-right-radius: 5%;
    border-top-left-radius:5% ;
}
.header ul li a:hover{
    color: #000;
}
/* HOVER STYLE FIM */